<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="employee-dashboard" routerLinkActive="active" class="nav-link">My Performance & Benefits</a>
        </li>
    </ul>
    
</nav>



<!-- <div class="container"> -->

    <router-outlet></router-outlet>
<!-- </div> -->


<footer class = "footer">
    <div class = "container">
        <span>Trinet Employee Portal</span>
    </div>
</footer>

