
<body>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/2.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h1 id="p1">Trinet Employee Benefits Portal</h1>
        </div>
    </ng-template>
   </ngb-carousel>
 
  

        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
                <div class="divMain container">
                    <div class="container c1 text">
                        <h1 class="text">  Stack Used:</h1>
                        <br>
                        <ul class="category" id="t1">
                            <li>Backend stack
                              <ul class="subcategory">
                                <li>Java</li>
                                <li>Spring Boot</li>
                              </ul>
                              <ul class="subcategory">
                                <li>Python</li>
                                <li>Django</li>
                              </ul>
                            
                            </li>
                            <li>Frontend stack
                              <ul class="subcategory">
                                <li>Angular</li>
                              </ul>
                            </li>
                            <li>Database 
                              <ul class="subcategory">
                                <li>Aurora RDS</li>
                              </ul>
                            </li>
                          </ul>
                          
                         
                    </div>
                    <div class=" image">
                        <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image">
                    </div>
                </div>
                <br><br>
        </section>

    
</body>